<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <!-- The unit suite must stay loadable by plain PHPUnit: Infection's
             PHPUnit adapter runs it (Pest-DSL files have no test classes). -->
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Arch</exclude>
        </testsuite>
        <testsuite name="arch">
            <directory>tests/Arch</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
